In [3]:
import pandas as pd
df=pd.read_csv('creditcard.csv')

In [4]:
df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,Target
0,0.114697,0.796303,-0.149553,-0.823011,0.878763,-0.553152,0.939259,-0.108502,0.111137,-0.390521,...,-0.335776,-0.807853,-0.055940,-1.025281,-0.369557,0.204653,0.242724,0.085713,0.89,0
1,-0.039318,0.495784,-0.810884,0.546693,1.986257,4.386342,-1.344891,-1.743736,-0.563103,-0.616315,...,-1.377003,-0.072200,-0.197573,1.014807,1.011293,-0.167684,0.113136,0.256836,85.00,0
2,2.275706,-1.531508,-1.021969,-1.602152,-1.220329,-0.462376,-1.196485,-0.147058,-0.950224,1.560463,...,-0.193271,-0.103533,0.150945,-0.811083,-0.197913,-0.128446,0.014197,-0.051289,42.70,0
3,1.940137,-0.357671,-1.210551,0.382523,0.050823,-0.171322,-0.109124,-0.002115,0.869258,-0.001965,...,0.157994,0.650355,0.034206,0.739535,0.223605,-0.195509,-0.012791,-0.056841,29.99,0
4,1.081395,-0.502615,1.075887,-0.543359,-1.472946,-1.065484,-0.443231,-0.143374,1.659826,-1.131238,...,0.224157,0.821209,-0.137223,0.986259,0.563228,-0.574206,0.089673,0.052036,68.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56957,2.030797,-0.825073,-0.729555,-0.519187,-0.639893,-0.169482,-0.619049,-0.017902,-0.578643,0.915645,...,-0.790167,-1.825357,0.600083,0.702623,-0.782688,-0.007105,-0.041057,-0.038601,42.42,0
56958,-0.263947,1.119700,-0.639394,-0.880567,1.194120,-0.310693,0.962087,-0.088880,0.386664,0.195362,...,-0.448081,-0.893010,0.004678,0.062555,-0.347536,0.106510,0.274117,-0.036263,7.99,0
56959,2.206867,-0.748559,-1.443015,-1.101542,-0.332197,-0.646931,-0.536272,-0.129437,-0.712381,1.057616,...,0.471336,1.314052,0.038930,0.747315,0.158017,0.021897,-0.046200,-0.072586,1.00,0
56960,1.430579,-0.842354,0.415998,-1.328439,-1.284654,-0.888110,-0.653237,-0.238164,-2.220845,1.350845,...,-0.577415,-1.323989,0.336843,0.329714,-0.007425,-0.636401,0.037095,0.029180,30.00,0
56961,-7.792712,5.599937,0.258943,0.061360,-2.586555,4.770837,-8.221863,-20.298380,2.028566,-0.030694,...,12.641459,-4.187308,2.655058,0.350225,0.462620,0.455248,0.166157,0.099680,8.39,0

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import gridspec

In [7]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,Target
0,0.114697,0.796303,-0.149553,-0.823011,0.878763,-0.553152,0.939259,-0.108502,0.111137,-0.390521,...,-0.335776,-0.807853,-0.055940,-1.025281,-0.369557,0.204653,0.242724,0.085713,0.89,0
1,-0.039318,0.495784,-0.810884,0.546693,1.986257,4.386342,-1.344891,-1.743736,-0.563103,-0.616315,...,-1.377003,-0.072200,-0.197573,1.014807,1.011293,-0.167684,0.113136,0.256836,85.00,0
2,2.275706,-1.531508,-1.021969,-1.602152,-1.220329,-0.462376,-1.196485,-0.147058,-0.950224,1.560463,...,-0.193271,-0.103533,0.150945,-0.811083,-0.197913,-0.128446,0.014197,-0.051289,42.70,0
3,1.940137,-0.357671,-1.210551,0.382523,0.050823,-0.171322,-0.109124,-0.002115,0.869258,-0.001965,...,0.157994,0.650355,0.034206,0.739535,0.223605,-0.195509,-0.012791,-0.056841,29.99,0
4,1.081395,-0.502615,1.075887,-0.543359,-1.472946,-1.065484,-0.443231,-0.143374,1.659826,-1.131238,...,0.224157,0.821209,-0.137223,0.986259,0.563228,-0.574206,0.089673,0.052036,68.00,0

In [9]:
#describing the data

print(df.shape)

(56962, 30)

In [10]:
print(df.describe())

                 V1            V2            V3            V4            V5  \
count  56962.000000  56962.000000  56962.000000  56962.000000  56962.000000
mean       0.013286      0.006610     -0.004263      0.001496     -0.003508
std        1.941231      1.611224      1.516853      1.419107      1.431731
min      -36.510583    -47.429676    -48.325589     -5.560118   -113.743307
25%       -0.908591     -0.600208     -0.893961     -0.847617     -0.694059
50%        0.036251      0.061840      0.170910     -0.022094     -0.051828
75%        1.319727      0.801163      1.016897      0.738688      0.615454
max        2.446505     18.902453      3.985446     15.304184     29.016124

                 V6            V7            V8            V9           V10  \
count  56962.000000  56962.000000  56962.000000  56962.000000  56962.000000
mean      -0.003079      0.000141     -0.006501      0.001564      0.003176
std        1.359647      1.301800      1.201138      1.103688      1.095156
min      -20.054615    -28.215112    -41.484823     -9.481456    -20.949192
25%       -0.770145     -0.551096     -0.211190     -0.642072     -0.535121
50%       -0.278939      0.039155      0.019903     -0.052607     -0.095676
75%        0.392801      0.569769      0.324905      0.599634      0.453059
max       73.301626    120.589494     18.282168     10.370658     15.236028

       ...           V21           V22           V23           V24  \
count  ...  56962.000000  56962.000000  56962.000000  56962.000000
mean   ...     -0.002253     -0.004938      0.004008     -0.001017
std    ...      0.735871      0.730301      0.621623      0.604191
min    ...    -21.620120     -8.593642    -32.828995     -2.822684
25%    ...     -0.230210     -0.549030     -0.160179     -0.356599
50%    ...     -0.032379     -0.000329     -0.009334      0.040045
75%    ...      0.184809      0.524484      0.149985      0.437657
max    ...     22.614889      6.790452     20.803344      4.584549

                V25           V26           V27           V28           V29  \
count  56962.000000  56962.000000  56962.000000  56962.000000  56962.000000
mean      -0.000872      0.004513      0.001385     -0.001990     87.658797
std        0.521003      0.481857      0.416750      0.325640    258.042879
min       -8.696627     -1.778061     -8.878665    -15.430084      0.000000
25%       -0.315738     -0.322766     -0.070204     -0.052351      5.615000
50%        0.018074     -0.047859      0.001451      0.011354     21.900000
75%        0.348895      0.245286      0.090737      0.077483     77.500000
max        7.519589      3.517346     31.612198     22.620072  25691.160000

             Target
count  56962.000000
mean       0.001720
std        0.041443
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

[8 rows x 30 columns]

In [18]:
#determining the number of fraud cases

fraud = df[df['Target']==1]
valid = df[df['Target']==0]
outlierFraction = len(fraud)/float(len(valid))
print(outlierFraction)

0.0017234102419808666

In [19]:
print('Fraud Cases: {}' .format(len(df[df['Target']==1])))

Fraud Cases: 98

In [20]:
print('Valid Transactions: {}' .format(len(df[df['Target']==0])))

Valid Transactions: 56864

In [27]:
print('Details of the fraudulent transaction')
fraud.Target.describe()

Details of the fraudulent transaction

count    98.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: Target, dtype: float64

In [28]:
print('Details of the valid transaction')
valid.Target.describe()

Details of the valid transaction

count    56864.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: Target, dtype: float64

In [3]:
#correlation matrix

corrmat = df.corr()
fig = plt.figure(figsize = (12,9))
sns.heatmap(corrmat,vmax= .8, square = True)
plt.show()

NameError: name 'df' is not defined

In [1]:
# dividing the X and Y from the dataset

X = df.drop(['Target'],axis = 1)
Y = df['Target']
print(X.shape)
print(Y.shape)

# getting just the values for the sake of processing

xData = X.values
yData = Y.values

NameError: name 'df' is not defined